<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 普通方法名匹配切面 -->
    <bean id="waiterTarget" class="com.vther.proxy.demo._04_spring_aop._43_advisor.Waiter"/>
    <bean id="greetingAdvice" class="com.vther.proxy.demo._04_spring_aop._43_advisor.GreetingBeforeAdvice"/>
    <bean id="greetingAdvisor" class="com.vther.proxy.demo._04_spring_aop._43_advisor.GreetingAdvisor"
          p:advice-ref="greetingAdvice"/>

    <bean id="parent" abstract="true"
          class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="greetingAdvisor" p:proxyTargetClass="true"/>
    <bean id="waiter" parent="parent" p:target-ref="waiterTarget"/>

    <!-- 正则表达式方法名匹配切面 -->
    <bean id="regexpAdvisor"
          class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
          p:advice-ref="greetingAdvice">
        <property name="patterns">
            <list>
                <value>.*greet.*</value>
            </list>
        </property>
    </bean>

    <bean id="waiter1" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="regexpAdvisor" p:target-ref="waiterTarget"
          p:proxyTargetClass="true" />


</beans>
